<div>
<h1>Case Study 1</h1>
<h3><b><i>Wabtec corporation is a large transportation company that manufactures diesel locomotives. They are considering entering the battery electric locomotives & hydrogen fueled locomotives market. Should they enter?​</i></b></h3>
<ul>
  <li><b>Type of Case Study:- </b>Market entry ​</li>
  <li><b>Expectations/Learning Outcomes:- ​ </b> ​</li>
</ul>
<p>1. Understand why the company wants to enter the market.<br>​

  2. Quantify the specific target or goal.​<br>

  3. Develop a market entry framework and work through the case.​<br>

  4. Consider the market entry strategy OR consider alternatives to entering the market.​<br>

  5. Deliver a recommendation and propose next steps.<br>​

  ​</p>

<ul>
  <li><u>Benefits​</u></li>
</ul>
<h3><b>LEADs: 1. Case studies improve their business acumen.</b></h3><br>
<h3><b> 2. Build their research, teamwork and presentation skills. ​</b></h3><br>
<h3><b> WABTEC: : 1. New ideas from the young minds. ​</b></h3><br>
<h3><b>2.  Emerging leaders with business and technical acumen.​ ​</b></h3><br>
<a href="https://hackingthecaseinterview.thinkific.com/pages/merger-acquisition-case-interview​">https://hackingthecaseinterview.thinkific.com/pages/merger-acquisition-case-interview​</a>


</div>
